@model FPSInventory.Models.OutItemOrder

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="line"></div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OutItemOrder</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOutorderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOutorderNavigation.IdoutOrder)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductNavigation.Idproduct)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdoutItemOrder" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="white">&leftarrow; Back to List</a>
    </form>
</div>
