@model IEnumerable<FPSInventory.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="line"></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tableFPS">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namesupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                City
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namesupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCityNavigation.Namecity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idsupplier">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idsupplier">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idsupplier">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
