@model IEnumerable<FPSInventory.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="line"></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tableFPS">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idstore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Namestore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                City
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idstore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Namestore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCityNavigation.Namecity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idstore"
                   class="btn btn-success btn-sm" role="button"
                   title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                <a asp-action="Delete" asp-route-id="@item.Idstore"
                   class="btn btn-danger btn-sm" role="button"
                   title="Delete File"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
