@model IEnumerable<FPSInventory.Models.CustomerItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="line"></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tableFPS">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomerOrderNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomerOrderNavigation.IdcustomerOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductNavigation.Product1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdoutItemOrder" class="btn btn-success btn-sm" role="button">Edit</a>
                <a asp-action="Details" asp-route-id="@item.IdoutItemOrder" class="btn btn-info btn-sm" role="button">Details</a>
                <a asp-action="Delete" asp-route-id="@item.IdoutItemOrder" class="btn btn-danger btn-sm" role="button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
