<!DOCTYPE html>
<html>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPSInventory</title>

    <link rel="icon" type="image/ico" href="~/images/iconlogo.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/mainstyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap-glyphicon.css" rel="stylesheet" />
</head>
<body>
    <header>
        @if (Context.Session.GetString("employeeName") != null)
        {
        <hgroup>
            <h2><img src="~/images/iconlogo.png"> FPS Inventory</h2>

            @{ViewData["emp"] = $"Welcome, {Context.Session.GetString("employeeName")} ({Context.Session.GetString("employeeRole")})";
            }

            <h3><button class="options">@ViewData["emp"]</button></h3>
            <h3><a class="options" asp-controller="Home" asp-action="Index" asp-route-logout="1">Logout</a></h3>



        </hgroup>


            <nav id="nav_menu">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (Context.Session.GetString("employeeName") != null)
                    {
                        InventoryContext _context = new InventoryContext();

                        var employee = _context.Employee.FirstOrDefault(a => a.Idemployee == int.Parse(Context.Session.GetString("employeeID")));
                        if (employee.Role == "ADMIN")
                        {
                            <li><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></li>
                        }
                    }
                    <li><a asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                    <li><a asp-area="" asp-controller="Store" asp-action="Index">Stores</a></li>
                    <li><a asp-area="" asp-controller="Report" asp-action="Index">Reports</a></li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        <!--<ul>
            <li><a>Top</a></li>
            <li><a>Bottom</a></li>
            <li>
                <a href="underconstruction.html">Accessories</a>
                <ul>
                    <li><a href="underconstruction.html">Items</a></li>
                    <li><a href="underconstruction.html">Colours</a></li>
                </ul>
            </li>
        </ul>-->
                    </li>
                </ul>
            </nav>
        }
        </header>

    <section id="page">
        <partial name="_CookieConsentPartial" />

        @if (Context.Session.GetString("employeeName") != null)
        {
            <aside id="sidebarA">
                <h2>Quick Links</h2>
                <div class="line"></div>
                <ul>

                    <li><a asp-area="" asp-controller="Supplier" asp-action="Index">Suppliers</a></li>
                    <li><a asp-area="" asp-controller="ShippingCompany" asp-action="Index">Shipping Companies</a></li>

                    @{InventoryContext _context = new InventoryContext();

                        var employee = _context.Employee.FirstOrDefault(a => a.Idemployee == int.Parse(Context.Session.GetString("employeeID")));
                        if (employee.Role == "ADMIN")
                        {

                            <li><a asp-area="" asp-controller="City" asp-action="Index">Cities</a></li>
                            <li><a asp-area="" asp-controller="Category" asp-action="Index">Categories</a></li>
                        }
                    }

                    <li><a asp-area="" asp-controller="InOrder" asp-action="Index">Incoming Orders</a></li>
                    <li><a asp-area="" asp-controller="OutOrder" asp-action="Index">Outgoing Orders</a></li>
                    <li><a asp-area="" asp-controller="CustomerOrder" asp-action="Index">Sales</a></li>

                </ul>
            </aside>
          }
            
            <main id="twocolumns">
                <span class="text-danger"> @TempData["message"] </span>
                @RenderBody()
            </main>
        </section>
    <footer>
        <div class="line"></div>
        <p>&copy; 2020 - FPSInventory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        <p><a title="RETURN TO TOP" href="#" class="go_up">TOP &uparrow;</a></p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
