@model IEnumerable<FPSInventory.Models.OutOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmployeeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdShippingCompanyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdStoreNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmployeeNavigation.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdShippingCompanyNavigation.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStoreNavigation.Namestore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdoutOrder">Edit</a> |
                <a asp-action="Index" asp-controller="OutItemOrder" asp-route-id="@item.IdoutOrder">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdoutOrder">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
